services:
  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    command: >
      uvicorn backend.app.main:app
      --host 0.0.0.0
      --port 8001
    ports:
      - "8001:8001"


  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      target: dev
    ports:
      - "5173:5173"
    environment:
      - VITE_WS_URL=ws://192.168.1.70:8001/ws
    depends_on:
      - backend
