services:
  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    ports:
      - "8001:8001"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      target: dev
    ports:
      - "5173:5173"
    environment:
      - VITE_WS_URL=${VITE_WS_URL}
    depends_on:
      - backend
